@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=DM+Sans:opsz,wght@9..40,100..1000&display=swap');
@import 'tailwindcss';

@theme {
  --font-mono: 'DM Mono', monospace;
  --font-sans: 'DM Sans', sans-serif;

  --color-error-foreground: light-dark(#cc0000, #ff3333);
  --color-neutral-background: light-dark(#fafaf9, #222525);
  --color-neutral-background-alt: light-dark(#f5f5f5, #1d1f20);
  --color-neutral-container: light-dark(#dfe0e2, #292c2e);
  --color-neutral-outline: light-dark(#c9cccf, #4e5356);
  --color-neutral-foreground-dim: light-dark(#555b5e, #949b9e);
  --color-neutral-foreground: light-dark(#20201d, #eaebec);
  --color-neutral-on-foreground: light-dark(#fafafa, #1d1e20);
  --color-neutral-on-foreground-contrast: #fafafa;
  --color-product-foreground: #f6bb18;
  --color-product-on-foreground: #20201d;
  --color-success-foreground: light-dark(#158f00, #19a400);
}
