@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=DM+Sans:opsz,wght@9..40,100..1000&display=swap');
@import 'tailwindcss';

@theme {
  --font-mono: 'DM Mono', monospace;
  --font-sans: 'DM Sans', sans-serif;

  --color-neutral-background-alt: light-dark(#f2f2f3, #1d1e20);
  --color-neutral-background: light-dark(#fcfcfd, #222325);
  --color-neutral-container-dim: light-dark(#f2f2f3, #27282a);
  --color-neutral-container: light-dark(#dfe0e2, #292c2e);
  --color-neutral-container-bright: light-dark(#ecedee, #36373a);
  --color-neutral-outline: light-dark(#c9cccf, #4e5356);
  --color-neutral-foreground-dim: light-dark(#646f75, #949b9e);
  --color-neutral-foreground: light-dark(#20201d, #eaebec);
  --color-neutral-on-foreground: light-dark(#fafafa, #1d1e20);
  --color-neutral-on-foreground-contrast: #fafafa;

  --color-product-foreground: light-dark(#b34d94, #bf4099);
  --color-product-foreground-dim: light-dark(#c270a9, #ae5292);
  --color-product-container-dim: light-dark(#eed8e8, #523348);
  --color-product-container: light-dark(#ddb0d0, #774668);
  --color-product-container-bright: light-dark(#dd9bc9, #9f5689);

  --color-error-foreground: light-dark(#cc0000, #ff3333);
  --color-info-container: light-dark(#66e5ff, #004857);
  --color-success-foreground: light-dark(#158f00, #19a400);
}

.gradient {
  opacity: 0.5;
  background: radial-gradient(
    50% 55.77% at 50% 50%,
    var(--product-foreground, #f6bb18) 50%,
    rgba(246, 187, 24, 0) 100%
  );
}
